# CoSaPl Firebase Web Client Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB1ZPzbl0QqPLQjFGijL7P4doJgfPF9yWY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cosapl.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://cosapl-default-rtdb.europe-west1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cosapl
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cosapl.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=399794136852
NEXT_PUBLIC_FIREBASE_APP_ID=1:399794136852:web:00eb878646ac544a6e4401
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-19NG576H67

# App Domain
NEXT_PUBLIC_APP_URL=https://cosapl.web.app
NEXT_PUBLIC_BRAND_NAME=CoSaPl

# Telegram Bot Token
TELEGRAM_BOT_TOKEN=8524480392:AAHprzTtdi44561eAuuo_j4cVyTLoRrd_jI
NEXT_PUBLIC_TELEGRAM_BOT_TOKEN=8524480392:AAHprzTtdi44561eAuuo_j4cVyTLoRrd_jI
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=CoSaPlBot
TELEGRAM_ADMIN_CHAT_ID=123456789
